.headerItems{
	display: inline;
}

.accountName{
	float: right; 
	color: white;
	padding-top: 6px;
	 padding-right: 6px;
}

#navigate{
	position: fixed;
}

#btnClosePrefab{
    display: none;
}

.container{
    margin-top: 50px;
}

.close{
    float: left;
}

.input-group{
	width: 50%;
}

#logoutbtn{
	margin-bottom: 5;
}

.btn{
	margin: 3;
}

#createHeader{
	margin: 0;
}