.note{
	position:relative;
	margin-top:50px;
	
}

.archivebtn{
	position: absolute;
	bottom: 10;
}

.nav-item{
	display: inline; 
	float: right; 
	color: white; 
	padding-top: 6px; 
	padding-right: 6px;
}

.navbar-expand-lg div{
	display: inline;
}

body{
	font-family: Ubuntu;
}

.main{
	margin-top: 40px;
}

#newnotefields{
	display: none;
}

.nav{
	position: fixed;
}

table{
	border-collapse: collapse;
}

tr.header{
	height: 50px;
}

tr.notes{
	height: 300px;
}

td{
	vertical-align: top;
}

.grid{
	display: grid;
	grid-template-columns: 300px 300px 300px 300px 300px;

}

.header{
	position: relative;
	margin: 22px 16px;
}

#modal{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(229,229,229,0.4); /* Black w/ opacity */
}

.modal-content{
	background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 5px 5px 5px grey;
}

.modal-text{
	height: 200px;
}

.note{
	background-color: #ffffff;
	padding: 10px;
	box-sizing: border-box;
	width: 240px;
	height: 200px;
	box-shadow: 5px 5px 5px grey;
	margin: 16px;
	/*position: absolute;*/
	display: block;
	margin-top:50px;
	float: left;
}

.noteTitle{
	text-align: center;
	padding-bottom: 10px;
	font-family: 'Roboto', Arial;
	font-weight: bold;
	font-size: 17px;
}

.noteContent{
	text-align: left;
	font-family: 'Roboto', Arial;
	font-size: 15px;
	word-wrap: break-word;
	height: 100;
	overflow: auto;
}

#updateLog{
	font-size: 12px;
}

#newnotetitle{
	display: block;
}

#newnotebody{
	display: block;
}